.sidebar-container {
  max-width: 240px;
  min-height: 100vh;
  background: #f8f9fa;
  color: #1f6023;
}

.nav {
  color: #1f6023;
}

.sidebar {
  width: 200px;
  padding-top: 25px;
}

.sidebar-link {
  padding: 10px;
}
.sidebar-link:hover {
  border-right: 5px solid dimgray;
  background-color: gainsboro;
}

.contect-container {
  padding: 25px;
  line-height: 1.5em;
}
